@{
    ViewData["Title"] = "Успешна резервация";
}

<script>
    window.onload = function() {
        alert("Вашата резервация беше успешна! Ще получите имейл с инструкции за плащане. Ще бъдете пренасочени към Вашите резервации.");
        window.location.href = '/UserServices/Index';
    }
</script>

<div style="display:none">
    <!-- This div is hidden because the alert and redirect are handled by JS -->
</div> 